# Ignorar carpetas de compilación de Python
__pycache__/
*.py[cod]

# Archivos de entorno virtual
venv/
.env/
codigoproyecto-venv

# Archivos de configuración locales
*.env
*.local

# Archivos de logs
*.log
